include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include crm *.css
recursive-include crm *.csv
recursive-include crm *.html
recursive-include crm *.ico
recursive-include crm *.js
recursive-include crm *.json
recursive-include crm *.md
recursive-include crm *.png
recursive-include crm *.py
recursive-include crm *.svg
recursive-include crm *.txt
recursive-exclude crm *.pyc